<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carosello Mono Array</title>

    <!-- icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- Style -->
 <link rel="stylesheet" href="css/style.css">

  <!-- VueJS -->
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

<!-- JavaScript -->
    <!-- <script defer src="js/script.js"></script> -->
    <script defer src="js/data.js"></script>
    <script defer src="js/main.js"></script>

</head>
<body>
    <!-- Container -->
    <div id="root" class="container">
        <!-- Carousel -->
        <div id="carousel">

            <!-- Left Arrow -->
            <i class=" arrow fa-solid fa-circle-arrow-left" id="previous" 
            @click="goToPrevious"></i>
            
            <!-- gallery -->
            <div class="gallery">
                <!-- Figure -->
                <figure v-for="(picture, i) in images" v-show="currentIndex === i ">
                    <!-- Image -->
                    <img  :src="picture.image"  alt="figures 1" >
                    <!-- Figcaption -->
                    <figcaption>
                        <!-- Title -->
                        <h2>{{picture.title}}</h2>
                        <!-- Text -->
                        <p>{{picture.text}}</p>
                    </figcaption>
                </figure>
            </div>

            <!-- Right Arrow -->
            <i class=" arrow fa-solid fa-circle-arrow-right" id="next" 
            @click="goToNext"></i>
        </div>

        <!-- Thumbnails -->
        <div id="thumbnails">
            <!-- Image -->
            <img v-for="(picture, i) in images" 
            :src="picture.image" 
            alt="figures 1"  
            :class="{active : currentIndex === i}"
            @click="setCurrentIndex(i)">
        </div>
    </div>
</body>
</html>